* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #f5f5f5;
}

/* Scroll Bar Customization */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #318ce7;
}

button:disabled {
    opacity: 70%;
}

/* Navigation bar */

.navBar {
    background-color: #b2ffff;
    height: 60px;
    position: fixed;
    left: 340px;
    right: 0px;
    width: auto;

    box-shadow: #f5f5f5 0px 8px 5px;
}

.navBar .profile {
    display: inline-block;
}

.profile > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
    font-size: 15pt;
    margin-top: 10px;
    padding: 10px 0px;
    display: inline-block;
    position: absolute;
}

#logo {
    width: fit-content;
    background-color: #b2ffff;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    margin: 0 auto;
}

#logo h3 {
    font-size: 20pt;
    padding: 12px 30px;
    display: inline-block;
}

.navBar .signInUp {
    display: inline-block;
    position: absolute;
    right: 10px;
}

.loginParam {
    width: 160px;
    padding: 5px;
    margin-right: 10px;
    border: 2px solid #318ce7;
    border-radius: 5px;
}

/* All buttons */

button {
    cursor: pointer;
    background-color: #318ce7;
    margin-right: 15px;
    margin-top: 10px;
    color: #eeeeff;
    padding: 10px;
    border-radius: 5px;
    transition-delay: 100ms;
}

/* Side nav */

.sidenav {
    height: auto;
    padding: 10px;
    width: 350px;
    position: fixed;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: #b2ffff 8px solid;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0px;
    background-color: #e5e4e2;
    overflow-x: hidden;
    padding-top: 10px;
}

.connectedTo,
.people,
.bio,
.connectedUsers > #title {
    border: 2px solid;
    width: fit-content;
    background-color: #b2ffff;
    margin: 20px auto;
    margin-top: 40px;
    border-radius: 15px;
    align-items: center;
    padding: 20px 40px;
}

.connectedUsers {
    width: 230px;
    margin: 5px 47px;
}

.connectedUsers > #userList,
.userDataSection > #globalUserList {
    max-height: 440px;
    overflow-y: auto;
    padding-right: 5px;
}

.connectedUsers > #title {
    border-radius: 8px;
    border: none;
    width: 230px;
    padding: 8px 10px 8px 40px;
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 10px;
}

.connectedUsers .currentUser,
.globalUser {
    margin-bottom: 8px;
    border-left: 5px solid #318ce7;
    font-size: 15pt;
    padding: 5px;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.connectedUsers .currentUser:hover,
.globalUser:hover {
    background-color: #b2ffff;
}

.connectedTo #userName {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 17pt;
    margin-top: 5px;
    font-weight: bolder;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: initial;
}

.goglobal {
    position: absolute;
    left: 55px;
    bottom: 100px;
    width: fit-content;
    background-color: #b2ffff;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-radius: 10px;
}

.goglobal > button {
    margin: 0;
    font-size: 18pt;
    padding: 5px 8px;
}

.goglobal > span {
    padding: 5px 70px 5px 40px;
}

.people {
    border: none;
    position: fixed;
    left: 55px;
    bottom: 20px;
    width: 230px;
    padding: 13px 40px;
}

.people > p,
span {
    display: inline-block;
    font-weight: bold;
    font-size: 14pt;
}

.people > p {
    position: relative;
    left: 70px;
}

/* Chats section */

.chats {
    position: fixed;
    height: auto;
    width: auto;
    top: 60px;
    left: 350px;
    bottom: 45px;
    right: 0;
}

.chats .messageDiv {
    position: fixed;
    bottom: 45px;
    left: 560px;
    border-radius: 10px;
    right: 10px;
    width: fit-content;
    background-color: #e5e4e2;
}

.chats .messageDiv #messageBox {
    width: 600px;
    height: 26pt;
    padding: 0 10px;
    margin: 15px 20px;
    border-radius: 10px;
}

#messageBox:disabled {
    background-color: #f5f5f5;
}

.chatList,
.chats > .top {
    height: auto;
    font-size: 18pt;
    font-weight: bold;
    padding: 10px;
    margin: 10px 110px;
    width: 940px;
    border-radius: 10px;
    background-color: #e5e4e2;
}

.chats > .top {
    padding-left: 20px;
}

.chatList {
    background: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)
        ),
        url("./Images/chatListBackground.png") center;
    background-position: bottom -5px right 170px;
    background-repeat: no-repeat;
    background-size: auto 400px;

    background-color: transparent;
    height: 510px;
    border-left: #b2ffff 5px solid;
    border-right: #b2ffff 5px solid;
    overflow: auto;
}

/* Chat Message design */
.send {
    float: right;
    clear: both;

    width: fit-content;
    max-width: 500px;
    background-color: #b2ffff;
    right: 15px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 13pt;
    font-weight: normal;
    margin-bottom: 5px;
}

.left {
    float: none;
    clear: both;
    color: #f5f5f5;
    width: fit-content;
    background-color: #318ce7;
    right: 15px;
    padding: 3px 12px;
    border-radius: 5px;
    font-size: 10pt;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 5px;
    position: relative;
    left: 400px;
}

.received {
    float: left;
    clear: both;

    width: fit-content;
    max-width: 500px;
    background-color: #e5e4e2;
    left: 15px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 13pt;
    font-weight: normal;
    margin-bottom: 5px;
}

/* Footer Section */

.bottomFooter {
    width: 100%;
    height: 35px;
    background-color: #b2ffff;
    position: fixed;
    bottom: 0px;
    left: 340px;
}

.bottomFooter h3 {
    position: absolute;
    left: 35%;
    padding-top: 9px;
}

/* Signup page */

#signuppage,
#globalUserPage {
    display: none;
    width: 910px;
    position: absolute;
    top: 130px;
    left: 475px;
    height: 500px;
    background-color: #e5e4e2;
    border-radius: 10px;
    animation-name: signupanim;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}

@keyframes signupanim {
    0% {
        transform: translateY(-800px) scale(0.1, 0.1);
    }

    100% {
        transform: translateY(0px);
    }
}

#userSignup {
    width: fit-content;
    height: fit-content;
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#userSignup input,
textarea {
    clear: right;
    left: 100px;
    width: 300px;
    padding: 8px;
    border-radius: 4px;
    margin: 10px;
    border: 2px solid #318ce7;
}

#userSignup label {
    font-size: 15pt;
    font-weight: bold;
}

#userSignup input[name="signupPassword"] {
    margin-left: 15px;
}
#userSignup textarea[name="signupBio"] {
    margin-left: 68px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 12pt;
}

#signupSubmit,
#signupReset {
    float: right;
}

button:active {
    background-color: #e5e4e2;
    color: black;
}

/* Global User page */
/* User Search Section */

.userDataSection {
    display: inline-block;
    width: 560px;
    height: 500px;
    padding: 20px;
}

.userDataSection #inpSearch {
    font-size: 13pt;
    border-radius: 5px;
    border: 2px solid #318ce7;
    padding: 5px;
    margin: 10px 15px;
}

.userDataSection > #globalUserList {
    margin: 0 40px;
    max-height: 400px;
    padding-right: 10px;
}

.globalUser {
    padding: 8px;
    margin-bottom: 10px;
}

/* User Preview */

.previewSection {
    /* background-color: lime; */
    display: block;
    width: 350px;
    float: right;
    height: 500px;
    border: 2px dashed;
    border-radius: 10px;
}
.bio {
    position: relative;
    width: 230px;
    padding: 15px;
    padding-top: 17px;
}
.bio > #title {
    background-color: #b2ffff;
    position: absolute;
    top: -15px;
    font-weight: bold;
    font-size: 14pt;
    left: 15px;
    padding: 2px 4px;
    border: 2px solid;
    border-radius: 10px;
}

.bio > #description {
    text-align: center;
    overflow-y: auto;
    max-height: 81px;
    padding-right: 5px;
}

#nextUser {
    width: 230px;
    margin: 5px 58px;
}
